<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Simplpan - Admin Panel</title>
	<!-- Imports General CSS and jQuery CSS -->

	<!-- CSS for Fluid and Fixed Widths - Double to prevent flickering on change -->

	<!-- CSS for Theme Styles - Double to prevent flickering on change -->

	<!-- jQuery thats loaded before document ready to prevent flickering - Rest are found at the bottom -->

</head>
<body>
	
<%= yield %>
	
	<!-- jQuery libs - Rest are found in the head section (at top) -->

	<!-- jQuery Customization -->

</body>
</html>