<!DOCTYPE HTML>


<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Simplpan - Admin Panel</title>
	
	<!-- Imports General CSS and jQuery CSS -->
	<link href="css/screen.css" rel="stylesheet" media="screen" type="text/css" />
	
	<!-- CSS for Fluid and Fixed Widths - Double to prevent flickering on change -->
	<link href="css/fixed.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="css/fixed.css" rel="stylesheet" media="screen" type="text/css" class="width" />
	
	<!-- CSS for Theme Styles - Double to prevent flickering on change -->
	<link href="css/theme/blue.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="css/theme/blue.css" rel="stylesheet" media="screen" type="text/css" class="theme" />
	
	<!-- jQuery thats loaded before document ready to prevent flickering - Rest are found at the bottom -->
	<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/jquery.styleswitcher.js"></script>
	<script type="text/javascript" src="js/jquery.visualize.js"></script>
	
</head>

<body>

<!-- Start: Page Wrap -->
<div id="wrap" class="container_24">
	
	
	<!-- Header Grid Container: Start -->
	<div class="grid_24">
		
		<!-- User Panel: Start -->
		<div id="userpanel">
			
			<!-- User: Start -->
			<ul id="user" class="dropdown">
				<li class="topnav">
					<!-- User Name -->
					<a href="#" class="top icon user">Administrator</a>
					
					<!-- User Dropdown Content: Start -->
					<ul class="subnav">  
			            <li><a href="forms.html" class="icon settings">Settings</a></li>  
			            <li><a href="#messages" class="icon chatbubbles popup">Messages</a></li> 
			            <li><a href="login.html" class="icon lock">Log out</a></li>  
			        </ul>  
			        <!-- User Dropdown Content: End -->
				</li>
			</ul>
			<!-- User: End -->
			
			<!-- Messages: Start -->
			<ul class="messages">
				<!-- Messages amount with Popup and Tip -->
				<li><a href="#messages" class="newmsg tip popup" title="16 Messages"> <span>16</span></a></li>
			</ul>
			<!-- Messages: End -->
			
			<!-- Messages Popup Content: Start -->
			<div class="box_content padding hide" id="messages">
				<form>	
				  
					<!-- Message From User: Start -->
					<h6>
						<span class="icon user"></span> <a href="#">Jenny</a> <span class="nobold">says</span>
						<small class="right grey nobold">2 hours ago</small> 
					</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna 
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
					</p> 
					<!-- Message From User: End -->
					
					<!-- Message From User: Start -->
					<h6>
						<span class="icon user"></span> <a href="#">Jenny</a> <span class="nobold">says</span>
						<small class="right grey nobold">15 hours ago</small> 
					</h6>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna 
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
					</p>
					<!-- Message From User: End -->
					
					<!-- Quick Reply: Start -->
					<div class="field">
						<label>
							<span class="icon chatbubbles"></span>
							Quick Reply
						</label>
						<textarea cols="50" rows="7"></textarea>
					</div>
				  
				  <button>Send</button>
				  <button class="secondary" type="reset">Reset</button>
				  <button disabled="">Disabled Button</button>
				  <!-- Quick Reply: End -->
				  
			    </form>
			</div>
			<!-- Messages Popup Content: End -->
			
			<!-- Style (Themes) Switcher: Start -->
			<ul id="style" class="dropdown right">
				<li class="topnav">
					<a href="#" class="top icon brush">Style</a>
					
					<!-- Style (Themes) Switcher Content: Start -->
					<ul class="subnav">  
			            <li><a href="#blue" class="icon circle">Blue</a></li>  
			            <li><a href="#red" class="icon circle">Red</a></li> 
			            <li><a href="#dark" class="icon circle">Dark</a></li> 
			            <li><a href="#green" class="icon circle">Green</a></li> 
			            <li><a href="#purple" class="icon circle">Purple</a></li> 
			            <li><a href="#brown" class="icon circle">Brown</a></li> 
			        </ul>  
			        <!-- Style (Themes) Switcher Content: End -->
				</li>
			</ul>
			<!-- Style Switcher: End -->
			
			<!-- Width Switcher: Start -->
			<ul id="width" class="dropdown right">
				<li class="topnav">
					<a href="#" class="top icon coverflow">Width</a>
					
					<!-- Width Switcher Content: Start -->
					<ul class="subnav">  
			            <li><a href="#fluid" class="icon coverflow">Fluid</a></li>  
			            <li><a href="#fixed" class="icon coverflow">Fixed</a></li> 
			        </ul>  
			        <!-- Width Switcher Content: End -->
				</li>
			</ul>
			<!-- Width Switcher: End -->
			
		</div>
		<!-- User Panel: End -->
		
		<!-- Header: Start -->
		<div id="header">
				
			<!-- Logo: Start -->
			<a href="dashboard.html" id="logo">Simplpan - Admin Panel</a>
			<!-- Logo: End -->
			
			<!-- Navigation: Start -->
			<ul id="navigation" class="dropdown">
				<li><a class="dashboard" href="dashboard.html">Dashboard</a></li>
				
				<!-- Navigation Dropdown Menu Item: Start -->
				<li class="topnav">
					<a class="frames" href="#">Layout</a>
					
					<!-- Navigation Dropdown Menu Item Content: Start -->
					<ul class="subnav">
						<li><a href="typography.html" class="icon typography">Typography</a></li> 
			            <li><a href="grid.html" class="icon blocks">Grid System</a></li>  
			        </ul> 
			        <!-- Navigation Dropdown Menu Item Content: End --> 
				</li>
				<!-- Navigation Dropdown Menu Item: End -->
				
				<!-- Navigation Dropdown Menu Item: Start -->
				<li class="topnav">
					<a class="pages active" href="#">Elements</a>
					
					<!-- Navigation Dropdown Menu Item Content: Start -->
					<ul class="subnav">
						<li><a href="code.html" class="icon list">Code View</a></li>  
			            <li><a href="accordion.html" class="icon pages">Accordion</a></li>  
			            <li><a href="tabs.html" class="icon pages">Tabs</a></li> 
			            <li><a href="forms.html" class="icon frames">Forms</a></li>  
			            <li><a href="charts.html" class="icon graph">Charts</a></li>  
			            <li><a href="tables.html" class="icon list">Tables</a></li>  
			            <li><a href="login.html" class="icon user">Login</a></li>  
			        </ul>  
			        <!-- Navigation Dropdown Menu Item Content: End --> 
				</li>
				<!-- Navigation Dropdown Menu Item: End -->
				
				<!-- Navigation Menu Item: Start -->
				<li><a class="pictures" href="gallery.html">Gallery</a></li>
				<!-- Navigation Menu Item: End -->
			</ul>
			<!-- Navigation: End -->
			
		</div>
		<!-- Header: End -->
		
		<!-- Breadcrumb Bar: Start -->
		<div id="breadcrumb">
			
			<!-- Breadcrumb: Start -->
			<ul class="left">
				<li class="icon dashboard"><a href="dashboard.html">Dashboard</a></li>
				<li class="icon point_right"><a href="#">Elements</a></li>
				<li class="icon point_right active"><a href="tables.html">Tables</a></li>
			</ul>
			<!-- Breadcrumb: End -->
			
			<!-- Breadcrumb Icon Links: Start -->
			<ul class="right">
				<li><a href="#" class="icon support tip" title="FAQ">FAQ</a></li>
				<li><a href="#" class="icon home tip" title="Home">Home</a></li>
			</ul>
			<!-- Breadcrumb Icon Links: End -->
			
		</div>
		<!-- Breadcrumb Bar: End -->
		
	</div>
	<!-- Header Grid Container: End -->


<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon pages">News Table<span class="tip" title="Tips can be added everywhere">232</span></h2>
		
		<!-- Tab Select: Start -->
		<ul class="sorting">
			<li><a href="#listing" class="active">Listing</a></li>
			<li><a href="#addnews">Add News</a></li>
		</ul>
		<!-- Tab Select: End -->
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- News Table Tabs: Start -->
		<div class="tabs">
		
			<!-- News Sorting Table: Start -->
			<div id="listing">
				
				<table class="sorting">
					<thead>
						<tr>
							<th class="checkers"><input type="checkbox" class="checkall" /></th>
							<th class="align_left">Title</th>
							<th class="align_left center">Author</th>
							<th class="align_left center">Views</th>
							<th class="align_left center">Comments</th>
							<th class="align_left center">Added</th>
							<th class="align_left center tools">Tools</th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Some technical issues</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Kasper</a></td>
							<td class="align_left center">12</td>
							<td class="align_left center">3</td>
							<td class="align_left center">1 hour ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">The new ipad is out!</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Kasper</a></td>
							<td class="align_left center">67</td>
							<td class="align_left center">23</td>
							<td class="align_left center">5 hours ago</td>
							<td class="align_left center tools">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Something just happend!</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Dannie</a></td>
							<td class="align_left center">145</td>
							<td class="align_left center">21</td>
							<td class="align_left center">10 hours ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Check this out</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Dannie</a></td>
							<td class="align_left center">67</td>
							<td class="align_left center">43</td>
							<td class="align_left center">13 hours ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Just got the new iPhone</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Joakim</a></td>
							<td class="align_left center">453</td>
							<td class="align_left center">64</td>
							<td class="align_left center">1 day ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Working on this project</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Einar</a></td>
							<td class="align_left center">565</td>
							<td class="align_left center">34</td>
							<td class="align_left center">1 day ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Have some great news!</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Dannie</a></td>
							<td class="align_left center">565</td>
							<td class="align_left center">12</td>
							<td class="align_left center">2 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Wondering what</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Jessie</a></td>
							<td class="align_left center">5765</td>
							<td class="align_left center">322</td>
							<td class="align_left center">3 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">How could this be</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Dannie</a></td>
							<td class="align_left center">367</td>
							<td class="align_left center">32</td>
							<td class="align_left center">3 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Did anyone watch this?</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Kasper</a></td>
							<td class="align_left center">3464</td>
							<td class="align_left center">54</td>
							<td class="align_left center">4 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Working on this</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Janne</a></td>
							<td class="align_left center">673</td>
							<td class="align_left center">423</td>
							<td class="align_left center">5 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">And we're live again!</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Administrator</a></td>
							<td class="align_left center">2351</td>
							<td class="align_left center">13</td>
							<td class="align_left center">6 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">Bought the new iMac!</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Janne</a></td>
							<td class="align_left center">564</td>
							<td class="align_left center">65</td>
							<td class="align_left center">6 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
						<tr>
							<th class="checkers"><input type="checkbox" /></th>
							<td class="align_left"><a href="#">We changed some things</a></td>
							<td class="align_left center"><a href="#messages" class="popup">Bob</a></td>
							<td class="align_left center">6443</td>
							<td class="align_left center">75</td>
							<td class="align_left center">7 days ago</td>
							<td class="align_left tools center">
								<a href="#" class="edit tip" title="edit">edit</a>
								<a href="#" class="view tip" title="view">view</a>
								<a href="#" class="delete tip" title="delete">delete</a>
							</td>
						</tr>
						
					</tbody>
				</table> 
				
				<!-- News Sorting Table Actions: Start -->
				<div class="table_actions">
					<input type="checkbox" class="checkall" />
					
					<select>
						<option>Choose action</option>
						<option>Delete</option>
						<option>Edit</option>
					</select>
					
					<button class="left">Apply to Selected</button>
				</div>
				<!-- News Sorting Table Actions: End -->
				
			</div>
			<!-- News Sorting Table: End -->
			
			<!-- News Sorting Table - Add News Tab: Start -->
			<div id="addnews" class="padding">
				
				<p class="note">
					<span class="icon info"></span> 
					You could setup your news adding page like this so users can easily add news without going to a new page
				</p>
				
				<div class="field">
					<label class="left">News Title</label>
					<input type="text" class="left validate">
					<p class="error left small nomargin">
						<span class="icon cross"></span> 
						Let the users know what the problem is
					</p>
				</div>
				
				<div class="field">
					<label class="left">Tags</label>
					<input type="text" class="left validate tip-stay" title="Add a tip for focus!">
					<p class="info left small nomargin">
						<span class="icon info"></span> 
						Or some information about what they should write
					</p>
				</div>
				
				<div class="field">
					<label>News Content</label>
					<textarea class="wysiwyg"></textarea>
				</div>
			  
			  <button>Publish News</button>
			  <button class="secondary" type="reset">Reset</button>
			  <button disabled="">Disabled Button</button>
				
			</div>
			<!-- News Sorting Table - Add News Tab: End -->
		
		</div>
		<!-- News Table Tabs: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->


<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon users">Table Sorting <span class="tip" title="Tips can be added everywhere">753</span></h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- Simple Sorting Table + Pagination: Start -->
		<table class="sorting">
			<thead>
				<tr>
					<th>Rendering engine</th>
					<th>Browser</th>
					<th>Platform(s)</th>
					<th>Engine version</th>
					<th>CSS grade</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX">
					<td>Trident</td>
					<td>Internet
						 Explorer 4.0</td>
					<td>Win 95+</td>
					<td class="center"> 4</td>
					<td class="center">X</td>
				</tr>
				<tr class="even gradeC">
					<td>Trident</td>
					<td>Internet
						 Explorer 5.0</td>
					<td>Win 95+</td>
					<td class="center">5</td>
					<td class="center">C</td>
				</tr>
				<tr class="odd gradeA">
					<td>Trident</td>
					<td>Internet
						 Explorer 5.5</td>
					<td>Win 95+</td>
					<td class="center">5.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="even gradeA">
					<td>Trident</td>
					<td>Internet
						 Explorer 6</td>
					<td>Win 98+</td>
					<td class="center">6</td>
					<td class="center">A</td>
				</tr>
				<tr class="odd gradeA">
					<td>Trident</td>
					<td>Internet Explorer 7</td>
					<td>Win XP SP2+</td>
					<td class="center">7</td>
					<td class="center">A</td>
				</tr>
				<tr class="even gradeA">
					<td>Trident</td>
					<td>AOL browser (AOL desktop)</td>
					<td>Win XP</td>
					<td class="center">6</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 1.0</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 1.5</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 2.0</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 3.0</td>
					<td>Win 2k+ / OSX.3+</td>
					<td class="center">1.9</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Camino 1.0</td>
					<td>OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Camino 1.5</td>
					<td>OSX.3+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape 7.2</td>
					<td>Win 95+ / Mac OS 8.6-9.2</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Browser 8</td>
					<td>Win 98SE+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Navigator 9</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.1</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.2</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.2</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.3</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.4</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.4</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.5</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.6</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.6</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.7</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.8</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Seamonkey 1.1</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Epiphany 2.20</td>
					<td>Gnome</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.2</td>
					<td>OSX.3</td>
					<td class="center">125.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.3</td>
					<td>OSX.3</td>
					<td class="center">312.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 2.0</td>
					<td>OSX.4+</td>
					<td class="center">419.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 3.0</td>
					<td>OSX.4+</td>
					<td class="center">522.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>OmniWeb 5.5</td>
					<td>OSX.4+</td>
					<td class="center">420</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>iPod Touch / iPhone</td>
					<td>iPod</td>
					<td class="center">420.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>S60</td>
					<td>S60</td>
					<td class="center">413</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.0</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.0</td>
					<td>Win 95+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.2</td>
					<td>Win 88+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.5</td>
					<td>Win 88+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera for Wii</td>
					<td>Wii</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Nokia N800</td>
					<td>N800</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Nintendo DS browser</td>
					<td>Nintendo DS</td>
					<td class="center">8.5</td>
					<td class="center">C/A<sup>1</sup></td>
				</tr>
				<tr class="gradeC">
					<td>KHTML</td>
					<td>Konqureror 3.1</td>
					<td>KDE 3.1</td>
					<td class="center">3.1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>KHTML</td>
					<td>Konqureror 3.3</td>
					<td>KDE 3.3</td>
					<td class="center">3.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>KHTML</td>
					<td>Konqureror 3.5</td>
					<td>KDE 3.5</td>
					<td class="center">3.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeX">
					<td>Tasman</td>
					<td>Internet Explorer 4.5</td>
					<td>Mac OS 8-9</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeC">
					<td>Tasman</td>
					<td>Internet Explorer 5.1</td>
					<td>Mac OS 7.6-9</td>
					<td class="center">1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeC">
					<td>Tasman</td>
					<td>Internet Explorer 5.2</td>
					<td>Mac OS 8-X</td>
					<td class="center">1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>Misc</td>
					<td>NetFront 3.1</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>Misc</td>
					<td>NetFront 3.4</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Dillo 0.8</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Links</td>
					<td>Text only</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Lynx</td>
					<td>Text only</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeC">
					<td>Misc</td>
					<td>IE Mobile</td>
					<td>Windows Mobile 6</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeC">
					<td>Misc</td>
					<td>PSP browser</td>
					<td>PSP</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeU">
					<td>Other browsers</td>
					<td>All others</td>
					<td>-</td>
					<td class="center">-</td>
					<td class="center">U</td>
				</tr>
			</tbody>
		</table>
		<!-- Sorting Table: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->


<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon users">Table Pagination <span class="tip" title="Tips can be added everywhere">232</span></h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- Simple Sorting Table + Pagination: Start -->
		<table class="simple_sorting">
			<thead>
				<tr>
					<th>Rendering engine</th>
					<th>Browser</th>
					<th>Platform(s)</th>
					<th>Engine version</th>
					<th>CSS grade</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX">
					<td>Trident</td>
					<td>Internet
						 Explorer 4.0</td>
					<td>Win 95+</td>
					<td class="center"> 4</td>
					<td class="center">X</td>
				</tr>
				<tr class="even gradeC">
					<td>Trident</td>
					<td>Internet
						 Explorer 5.0</td>
					<td>Win 95+</td>
					<td class="center">5</td>
					<td class="center">C</td>
				</tr>
				<tr class="odd gradeA">
					<td>Trident</td>
					<td>Internet
						 Explorer 5.5</td>
					<td>Win 95+</td>
					<td class="center">5.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="even gradeA">
					<td>Trident</td>
					<td>Internet
						 Explorer 6</td>
					<td>Win 98+</td>
					<td class="center">6</td>
					<td class="center">A</td>
				</tr>
				<tr class="odd gradeA">
					<td>Trident</td>
					<td>Internet Explorer 7</td>
					<td>Win XP SP2+</td>
					<td class="center">7</td>
					<td class="center">A</td>
				</tr>
				<tr class="even gradeA">
					<td>Trident</td>
					<td>AOL browser (AOL desktop)</td>
					<td>Win XP</td>
					<td class="center">6</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 1.0</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 1.5</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 2.0</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Firefox 3.0</td>
					<td>Win 2k+ / OSX.3+</td>
					<td class="center">1.9</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Camino 1.0</td>
					<td>OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Camino 1.5</td>
					<td>OSX.3+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape 7.2</td>
					<td>Win 95+ / Mac OS 8.6-9.2</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Browser 8</td>
					<td>Win 98SE+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Navigator 9</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.1</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.2</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.2</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.3</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.4</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.4</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.5</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.6</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.6</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.7</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.8</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Seamonkey 1.1</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Epiphany 2.20</td>
					<td>Gnome</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.2</td>
					<td>OSX.3</td>
					<td class="center">125.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.3</td>
					<td>OSX.3</td>
					<td class="center">312.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 2.0</td>
					<td>OSX.4+</td>
					<td class="center">419.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 3.0</td>
					<td>OSX.4+</td>
					<td class="center">522.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>OmniWeb 5.5</td>
					<td>OSX.4+</td>
					<td class="center">420</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>iPod Touch / iPhone</td>
					<td>iPod</td>
					<td class="center">420.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>S60</td>
					<td>S60</td>
					<td class="center">413</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.0</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.0</td>
					<td>Win 95+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.2</td>
					<td>Win 88+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 9.5</td>
					<td>Win 88+ / OSX.3+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera for Wii</td>
					<td>Wii</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Nokia N800</td>
					<td>N800</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Nintendo DS browser</td>
					<td>Nintendo DS</td>
					<td class="center">8.5</td>
					<td class="center">C/A<sup>1</sup></td>
				</tr>
				<tr class="gradeC">
					<td>KHTML</td>
					<td>Konqureror 3.1</td>
					<td>KDE 3.1</td>
					<td class="center">3.1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>KHTML</td>
					<td>Konqureror 3.3</td>
					<td>KDE 3.3</td>
					<td class="center">3.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>KHTML</td>
					<td>Konqureror 3.5</td>
					<td>KDE 3.5</td>
					<td class="center">3.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeX">
					<td>Tasman</td>
					<td>Internet Explorer 4.5</td>
					<td>Mac OS 8-9</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeC">
					<td>Tasman</td>
					<td>Internet Explorer 5.1</td>
					<td>Mac OS 7.6-9</td>
					<td class="center">1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeC">
					<td>Tasman</td>
					<td>Internet Explorer 5.2</td>
					<td>Mac OS 8-X</td>
					<td class="center">1</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>Misc</td>
					<td>NetFront 3.1</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeA">
					<td>Misc</td>
					<td>NetFront 3.4</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Dillo 0.8</td>
					<td>Embedded devices</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Links</td>
					<td>Text only</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeX">
					<td>Misc</td>
					<td>Lynx</td>
					<td>Text only</td>
					<td class="center">-</td>
					<td class="center">X</td>
				</tr>
				<tr class="gradeC">
					<td>Misc</td>
					<td>IE Mobile</td>
					<td>Windows Mobile 6</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeC">
					<td>Misc</td>
					<td>PSP browser</td>
					<td>PSP</td>
					<td class="center">-</td>
					<td class="center">C</td>
				</tr>
				<tr class="gradeU">
					<td>Other browsers</td>
					<td>All others</td>
					<td>-</td>
					<td class="center">-</td>
					<td class="center">U</td>
				</tr>
			</tbody>
		</table>
		<!-- Simple Sorting Table + Pagination: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->


<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon users">Plain Table <span class="tip" title="Tips can be added everywhere">254</span></h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- Simple Sorting Table + Pagination: Start -->
		<table>
			<thead>
				<tr>
					<th>Rendering engine</th>
					<th>Browser</th>
					<th>Platform(s)</th>
					<th>Engine version</th>
					<th>CSS grade</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Browser 8</td>
					<td>Win 98SE+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Netscape Navigator 9</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.1</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.2</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.2</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.3</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.4</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.4</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.5</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.6</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">1.6</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.7</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.7</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Mozilla 1.8</td>
					<td>Win 98+ / OSX.1+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Seamonkey 1.1</td>
					<td>Win 98+ / OSX.2+</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Gecko</td>
					<td>Epiphany 2.20</td>
					<td>Gnome</td>
					<td class="center">1.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.2</td>
					<td>OSX.3</td>
					<td class="center">125.5</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 1.3</td>
					<td>OSX.3</td>
					<td class="center">312.8</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 2.0</td>
					<td>OSX.4+</td>
					<td class="center">419.3</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>Safari 3.0</td>
					<td>OSX.4+</td>
					<td class="center">522.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>OmniWeb 5.5</td>
					<td>OSX.4+</td>
					<td class="center">420</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>iPod Touch / iPhone</td>
					<td>iPod</td>
					<td class="center">420.1</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Webkit</td>
					<td>S60</td>
					<td>S60</td>
					<td class="center">413</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.0</td>
					<td>Win 95+ / OSX.1+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 7.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.0</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
				<tr class="gradeA">
					<td>Presto</td>
					<td>Opera 8.5</td>
					<td>Win 95+ / OSX.2+</td>
					<td class="center">-</td>
					<td class="center">A</td>
				</tr>
			</tbody>
		</table>
		<!-- Plain Table: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->


<!-- Footer Grid: Start -->
<div class="grid_24">

	<!-- Footer: Start -->
	<div id="footer">
		
		<p class="left">
			Copyright &#169; 2011 <a href="#">Yourcompany</a>. 
			Powered by <a href="http://themeforest.net/user/Kaasper/?ref=kaasper">Simplpan</a>.
		</p>
		
		<!-- Footer Icon Navigation: Start -->
		<ul class="right">
			<li><a href="#" class="icon dashboard tip active" title="Dashboard">Dashboard</a></li>
			<li><a href="#" class="icon pages tip" title="Pages">Pages</a></li>
			<li><a href="#" class="icon users tip" title="Users">Users</a></li>
			<li><a href="#" class="icon settings tip" title="Settings">Settings</a></li>
			<li><a href="#" class="icon support tip" title="Support">Support</a></li>
			<li><a href="#" class="icon home tip" title="Home">Home</a></li>
		</ul>
		<!--Footer Icon Navigation: End -->
		
	</div>
	<!-- Footer: End -->
	
</div>
<!-- Footer Grid: End -->

</div>
<!-- End: Page Wrap -->

	<!-- jQuery libs - Rest are found in the head section (at top) -->
	<script type="text/javascript" src="js/jquery.visualize-tooltip.js"></script>
	<script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="js/jquery.poshytip.min.js"></script>
	<script type="text/javascript" src="js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/jquery.facebox.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="js/syntaxHighlighter/shCore.js"></script>
	<script type="text/javascript" src="js/syntaxHighlighter/shBrushXml.js"></script>
	<script type="text/javascript" src="js/syntaxHighlighter/shBrushJScript.js"></script>
	<script type="text/javascript" src="js/syntaxHighlighter/shBrushCss.js"></script>
	<script type="text/javascript" src="js/syntaxHighlighter/shBrushPhp.js"></script>
	
	<!-- jQuery Customization -->
	<script type="text/javascript" src="js/custom.js"></script>

</body>

</html>